# Python
__pycache__/
*.py[cod]
*.sqlite3
.venv/
venv/

# Django
staticfiles/
media/

# Node
node_modules/
frontend/build/
frontend/.cache/

# Env
.env
.env.*

# OS / IDE
.DS_Store
Thumbs.db
.vscode/
.idea/
